{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb",
        "prettier"
    ],
    "parserOptions": { "ecmaVersion": 2020, "sourceType": "module" },
    "rules": {
        "prettier/prettier": [
            "error", 
            {
                "trailingComma": "es5",
                "printWidth": 80,
                "endOfLine": "auto"
            }
        ],
        "import/extensions": 0,
        "import/prefer-default-export": 0,
        "class-methods-use-this": 0,
        "no-underscore-dangle": 0,
        "comma-dangle": 0,
        "max-classes-per-file": 0,
        "no-console": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "quotes": [
            2,
            "double",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": ["error"],
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".ts"]
            }
        }
    }
}